- content_for(:title, @article.title.capitalize)

.article-data
  %p.article-category
    - @article.categories.each do |category|
      = link_to category.name, category, class: "category"
  %p.author
    = time_tag @article.created_at.to_date, pubdate: true

%p.chapter-title
  = "chapter #{@article.compute_chapter}"
%h3.article_title
  = @article.title
%p.article-preview
  = @article.preview.capitalize

= image_tag @article.image_url(:full), class: "article-image"

.article_content
  = raw @article.content

.wrapper-clear
  .social-icons
    = tweet_button(count: :none, text: truncate(@article.preview, length: 60, separator: " "), via: :chris_maroudas)

.article-author
  .author-image
    = image_tag @article.user.assets.first.image_url(:thumb_two)
  %p.author-bio
    = @article.user.bio

- if @article.rateable?
  %h5.rating Average rating:
  = @article.average_rating

  = simple_form_for @rating do |f|
    = f.input :score, input_html: { min: Rating.minimum, max: Rating.maximum}
    = f.input :article_id, label: false, input_html: { value: @article.id, type: :hidden }
    = f.submit

- if @article.commentable?
  = render 'shared/comment'