.article-data
  %p.article-category
    - @article.categories.each do |category|
      %span.category
        = category.name
  %p.author
    = " by #{@article.user.name.capitalize}"

%p.chapter-title
  = "chapter #{Article.all.count.to_words}"
%h3.article_title
  = @article.title
%p.article-preview
  = @article.preview.capitalize

= image_tag @article.image_url(:full), class: "article-image"

.article_content
  = raw @article.content



= link_to 'Back', articles_path

- if @article.commentable?
  = render 'shared/comment'
