.article-data
  %p.article-category
    - @article.categories.each do |category|
      = link_to category.name, category, class: "category"
  %p.author
    = " by #{@article.user.name.capitalize}"

%p.chapter-title
  = "chapter #{@article.compute_chapter}"
%h3.article_title
  = @article.title
%p.article-preview
  = @article.preview.capitalize

= image_tag @article.image_url(:full), class: "article-image"

.article_content
  = raw @article.content

.social-icons
  = tweet_button(count: :none, text: truncate(@article.preview, length: 60, separator: " "), via: :chris_maroudas)

.article-author
  .author-image
    = image_tag @article.user.assets.first.image_url(:thumb)
  %p.author-bio
    = @article.user.bio


- if @article.commentable?
  = render 'shared/comment'
