!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) + " - Divine Infusion" : "Divine Infusion"
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Cardo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag "application"
    = csrf_meta_tag

  %body
    %header
      .social_bar
        .row
          .medium-8.columns.logo-container
            %h1.site-logo
              Divine Infusion
            %h2.site-description
              Life, Ruby & lame humor.
          .medium-4.columns
            .social-media
              = link_to "http://www.facebook.com/chris_maroudas97", class: "social-media-links" do
                %i.icon-facebook-rect
              = link_to "http://www.facebook.com/chris_maroudas97", class: "social-media-links" do
                %i.icon-twitter-bird
              = link_to "http://www.facebook.com/chris_maroudas97", class: "social-media-links" do
                %i.icon-linkedin-rect
              = link_to "http://www.facebook.com/chris_maroudas97", class: "social-media-links" do
                %i.icon-googleplus-rect
            -#.login-bar
            -#  - if user_signed_in?
            -#    %span
            -#      = current_user.name.humanize
            -#    |
            -#    = link_to "Log out!", destroy_user_session_path, method: :delete
            -#  - else
            -#    = link_to "Sign up"
            -#    |
            -#    = link_to "Log in"

      = render "shared/menu"


    %section{'data-type' => "background", "data-speed" => "12", class: "pages", id: "home"}
      .main_container
        .row
          .medium-8.columns
            %p#notice= notice
            %p#alert= alert
        .row
          .medium-8.columns
            = yield
          .medium-4.columns.sidebar
            - if @featured_article.present?
              %h5
                Featured article
              = render partial: "shared/sidebar_article", object: @featured_article, as: :side_article

            - if @article.present?
              %h5
                Related articles
              = render partial: "shared/sidebar_article", collection: @related_articles, as: :side_article

            - if @recent_articles.present?
              %h5
                Recent articles
              = render partial: "shared/sidebar_article", collection: @recent_articles, as: :side_article

            %h5
              Categories
            - @categories.each do |category|
              = link_to category.name.titleize + "(#{category.articles.count})", category, class: "sidebar-category-link"

        .row
          %footer
            .medium-12.columns
              %copyright
                "He had come a long way, and his dream must have seemed so close that he could hardly fail to grasp it." by Chris Maroudas, 2014, All Rights Reserved.

      = javascript_include_tag "application"