!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Particle"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body
    .row
      %h1
        Particle
      %hr
        - if user_signed_in?
          You're logged in as:
          = current_user.email if user_signed_in?
          = link_to "Log out!", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign up!", new_user_registration_path
          = link_to "Sign in", new_user_session_path

      %hr
      %ul
        -#- unless @menu.blank?
        -#  - @menu.nodes.each do |node|
        -#    %li= menu_link_for node
    %hr
    .row
      .eight-columns
        %p#notice= notice
        %p#alert= alert
    .row.content
      .twelve-columns
        = yield

    = javascript_include_tag "application"
