!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Particle"
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Cardo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body
    %header
      .social_bar
        .row
          .medium-offset-6.medium-6.columns
            - if user_signed_in?
              %span
                Logged as:
                = current_user.name.humanize
              |
              = link_to "Log out!", destroy_user_session_path, method: :delete
            - else
              = link_to "Sign up"
              |
              = link_to "Log in", sign_in_path
      .menu
        .row
          %ul
            - unless @menu.blank?
              - @menu.nodes.each do |node|
                %li= menu_link_for node
          .search-bar
            = form_tag(search_show_path, method: :get) do
              = text_field_tag :tag, nil, placeholder: "Search here"
              = submit_tag "Search"


    %section{'data-type' => "background", "data-speed" => "20", class: "pages", id: "home"}
      .main_container
        .row
          .medium-8.columns
            %p#notice= notice
            %p#alert= alert
        .row
          .medium-8.columns
            = yield
          .medium-4.columns.sidebar

            %h5
              Related articles
            - if @related_articles
              - @related_articles.each do |side_article|
                .sidebar-article
                  %h4= side_article.title
                  %p= side_article.preview.capitalize
                  = image_tag side_article.image_url(:thumb), class: "sidebar-article-image"
                  %p.time= time_ago_in_words(side_article.published_at) + " ago"

            %h5
              Recent articles
            - @side_articles.each do |side_article|
              .sidebar-article
                %h4= side_article.title
                %p= side_article.preview.capitalize
                = image_tag side_article.image_url(:thumb), class: "sidebar-article-image"
                %p.time= time_ago_in_words(side_article.published_at) + " ago"

            %h5
              Categories
            - @categories.each do |category|
              = link_to category.name.titleize + "(#{category.articles.count})", category

      = javascript_include_tag "application"
