!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) + " - Particle" : "Particle"
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Cardo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body
    %header
      .social_bar
        .row
          .medium-8.columns.logo-container
            %h1.site-logo
              Divine Infusion
            %h2.site-description
              Life, Ruby & lame humor.
          .medium-4.columns
            .social-media
              = link_to "http://www.facebook.com/chris_maroudas97", class: "social-media-links" do
                %i.icon-facebook-rect
              = link_to "http://www.facebook.com/chris_maroudas97", class: "social-media-links" do
                %i.icon-twitter-bird
              = link_to "http://www.facebook.com/chris_maroudas97", class: "social-media-links" do
                %i.icon-linkedin-rect
              = link_to "http://www.facebook.com/chris_maroudas97", class: "social-media-links" do
                %i.icon-googleplus-rect
            -#.login-bar
            -#  - if user_signed_in?
            -#    %span
            -#      = current_user.name.humanize
            -#    |
            -#    = link_to "Log out!", destroy_user_session_path, method: :delete
            -#  - else
            -#    = link_to "Sign up"
            -#    |
            -#    = link_to "Log in"
      .menu
        .row
          %ul
            - unless @menu.blank?
              - @menu.nodes.each do |node|
                %li= menu_link_for node
          .search-bar
            = form_tag(search_show_path, method: :get) do
              = text_field_tag :query, nil, placeholder: "Search here"
              = submit_tag "Search"


    %section{'data-type' => "background", "data-speed" => "20", class: "pages", id: "home"}
      .main_container
        .row
          .medium-8.columns
            %p#notice= notice
            %p#alert= alert
        .row
          .medium-8.columns
            = yield
          .medium-4.columns.sidebar

            - unless @featured_article.blank?
              %h5
                Featured article
              .sidebar-article
                %h4= link_to @featured_article.title, @featured_article
                %p= @featured_article.preview.capitalize
                = image_tag @featured_article.image_url(:thumb), class: "sidebar-article-image"
                %p.time= time_ago_in_words(@featured_article.published_at) + " ago"

            - if @article.present?
              %h5
                Related articles
              - if @related_articles
                - @related_articles.each do |side_article|
                  .sidebar-article
                    %h4= link_to side_article.title, side_article
                    %p= side_article.preview.capitalize
                    = image_tag side_article.image_url(:thumb), class: "sidebar-article-image"
                    %p.time= time_ago_in_words(side_article.published_at) + " ago"

            %h5
              Recent articles
            - @recent_articles.each do |side_article|
              .sidebar-article
                %h4= link_to side_article.title, side_article
                %p= side_article.preview.capitalize
                = image_tag side_article.image_url(:thumb), class: "sidebar-article-image"
                %p.time= time_ago_in_words(side_article.published_at) + " ago"

            %h5
              Categories
            - @categories.each do |category|
              = link_to category.name.titleize + "(#{category.articles.count})", category, class: "sidebar-category-link"

        .row
          %footer
            .medium-12.columns
              %copyright
                "He had come a long way, and his dream must have seemed so close that he could hardly fail to grasp it." by Chris Maroudas, 2014, All Rights Reserved.

      = javascript_include_tag "application"